<center><img src="https://comicvine.gamespot.com/a/uploads/original/4/47703/3168378-6144935228-39823.jpg" alt="granny_cats" width="300" height="150"></center>
<h1 style= "background-color:black; color:darkgrey;"><center>All the Grannies</h1>
<%= link_to "New Granny", "/grannies/new", style: "float:right; font-size:20px;" %>

<h1>Names:</h1>
<ul style = "font-size:25px;"><% @grannies.ordered_grannies.each do |granny| %>
  <li><%= granny.name %><%= link_to "Edit #{granny.name}", "/grannies/#{granny.id}/edit", style: "font-size:15px; padding:15px;" %></li> <b style="float:right;">Created At: <%= granny.created_at %></b>
  <%= button_to "Delete #{granny.name}", "/grannies/#{granny.id}", method: :delete %>
<% end %>

